<html>


<head>
  <style>
    .home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 5%;
    border: 2px solid green;
    border-radius: 20px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .link {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    font-size: 2rem;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  </style>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <div class="home-container" style="background-color: white;">
    <a class="link" href="/addProduct/<%= url %>"><%= url %></a>
  </div>
</body>

</html>