
<html>
    <head>
        <link rel="stylesheet" href="styles/header.css">
    </head>
    <body>

        <div class="header">
          <a href="/" class="logo">Message Activation System</a>

          <div class="header-right">
           
             <% if(!name) { %>
              <a href="signUp">Registration</a>
              <a href="/login">Login</a>
             <% } else { %>
              <div class="tooltip">
                <img class="profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkYvq7zWeYgf2yDxPRExBk-l4hhCzk6FyhWA&usqp=CAU" alt="Avatar">
                <div class="tooltiptext">
                  <div>
                    <img class="tool-profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkYvq7zWeYgf2yDxPRExBk-l4hhCzk6FyhWA&usqp=CAU" alt="Avatar">
                  </div>
                  <a href="/logout">logout</a>
                </div>
              </div>
              
            <% } %>
            
            
          </div>
        </div>
        
        </body>
</html>
