<html>

<head>
  <link rel="stylesheet" href="styles/home.css">

</head>

<body>
  <header>
    <%- include('header'); %>
  </header>

  <form method="POST" action="/home">
    <div class="home-container">
      <div class="home-option">
        <label class="label" for="urlOrMsg">Create a disappearing</label>
        <select style="width: 20%; height: 40px;" name="urlOrMsg" id="urlOrMsg">
          <option value="message">Message</option>
          <option value="url">Url</option>
        </select>
      </div>
      <div class="home-option">
        <input type="text" style="width: 80%;height: 40px;" name="msg" placeholder="Enter the url/message" />
        <input type="submit" style="height: 40px;" value="Generate">
      </div>
      <div class="home-option">
        <label class="label" for="timer">Self-destruct Timer</label>
        <select style="width: 20%; height: 40px;" name="timer" id="timer">
          <option value="1 minute">1 minute</option>
          <option value="10 minutes">10 minutes</option>
          <option value="1 hour">1 hour</option>
          <option value="1 day">1 day</option>
          <option value="1 week">1 week</option>
        </select>
      </div>
    </div>
  </>

</body>

</html>