
<html>
    <header>
        <link rel="stylesheet" href="styles/login.css">
    
      
          <%- include('header',{name: ""}); %>
     
    </header>
    <body>
        
<form method="POST" class="modal-content" action="/login">
    <div class="container">
      <h1>Sign In</h1>
      
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>


      <div class="clearfix">
       
        <button type="submit" class="signupbtn" >Sign In</button>
   
      </div>
    </div>
  </form>
</div>
</body>

</html>