
* {box-sizing: border-box;}

body { 
  margin: 0;
  background-color:rgb(18, 16, 19);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #0aad92;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 57px;
  width: 100%;
}

.header a {
  float: left;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
}

/* .header a:hover {
  color: black;
} */


.header-right {
  float: right;
}

.tooltip {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding: 15px 15px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0px;
}

.tooltip .tooltiptext a {
  color: black;
  float: none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tool-profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}