
* {
    box-sizing: border-box;
  }
  
  .home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    border: 2px solid white;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .home-option {
    padding: 5%;
    justify-content:start;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 7px 7px;
  }
  .label {
    color: white;
    font-size: 2rem;
  }

  /* Remove extra left and right margins, due to padding */
  .row {margin: 15px 10px;}
  

  .image-class {
    width: 285px;
    height: 185px;
  }

  /* .desc {
    /* float: left; */
  /* } */ */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    /* text-align: center; */
    background-color: #f1f1f1;
  }